aside {
    position: fixed;
    top: 80px;
    padding-left: 20px;
    width: 220px;
}
main {
    position: relative;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    margin-top: 60px;
    margin-left: 220px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
main .jumbotron {
    padding-top: 30px;
}
main section {
    padding-top: 15px;
    margin-bottom: 20px;
}
main section h1 {
    margin-bottom: 1rem;
}
hr {
    margin: 15px 0;
}
.forkme {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
.box {
    position: relative;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box.with-border {
    border: solid 1px #ddd;
    border-radius: 5px;
}